@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./ReactToast.css");
@import url("./tabela.css");

html, body, :root {
  height: 100%;
}

* {
  font-family: 'Inter Variable', sans-serif;

  @apply outline-light-blue-600;
}

::selection {
  @apply bg-green-400 text-white;
}
input::placeholder {
  opacity: 0.93;
  font-weight: 500;
  @apply text-slate-400;
}

body {
  @apply bg-grey-200;
}

span.symbol {
  font-family: 'Material Icons', sans-serif;
  display: inline-block;
 
  position: relative;
  top: 2px;
}

button {
  transition: .6s;
}

main {
  min-height: 85vh;

  padding-bottom: 40px;
}

main h1 {
  font-family: 'Quicksand Variable', sans-serif;
  font-weight: 700;
  font-size: 56px;

  text-align: center;
  cursor: default;

  padding: 15px 0 8px;
}

main div.content {
  width: min(730px, 90%);
  margin: auto;

  border-radius: 6px;

  @apply bg-white p-5;
}
main div p {
  font-size: 18px;
  line-height: 1.5;

  text-align: justify;
}

main form:not(.noShadow), 
main div.content {
  box-shadow: inset 0 2px 0 rgb(204,204,235);
  @apply drop-shadow-lg;
}

main form {
  width: min(300px, 90%);
}
main form input {
  padding: 4px;
  border-radius: 4px;
  max-width: 100%;

  @apply bg-grey-100 border-2 border-dark-blue-500;
}

main form label {
  margin: 3px 0 -3px;
  font-size: 1.21rem;
  font-weight: 500;
}

main form select {
  @apply border-2 border-light-blue-600 p-1;
}

main form div.select {
  @apply flex gap-3 p-2;
}

main form button {
  @apply font-medium rounded m-auto p-2 w-fit;
}

span.required {
  font-weight: 600;
  @apply text-red-600;
}

.visibleForm,
.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(6, 4, 17, 0.6);
  z-index: 99;
}
.visibleForm form {
  box-shadow: none;
  border: 2px solid;
  @apply border-dark-blue-500;
}

.botaoVerde {
  padding: 7px 10px;
  border: none;
  box-shadow: inset 0 2px 0 rgba(150,243,130,.9);
  border-radius: 5px;
  transition: .6s;

  @apply bg-green-500 text-white drop-shadow-md;
}

.botaoVerde:hover {
  box-shadow: inset 0 2px 0 #bacee1;

  @apply bg-white text-light-blue-500;
}
.botaoVerde.invertido:hover {
  @apply bg-light-blue-500 text-white;
}

.ativo {
  @apply text-green-800 font-semibold;
}
.inativo {
  @apply text-red-700 font-semibold;
}

/* Print contrato */
.print-button {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media print {
  .print-contrato {
    padding-top: 20px;
  }
  .print-contrato p {
    padding: 7px auto;
    padding-left: 15px;
  }
  .print-button {
    display: none;
  } 
}

/* Carregando */
.ampulheta {
  margin: auto;
  animation: rotate 1.6s infinite;
  animation-delay: .07s;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}


/* Navbar */
nav {
  box-shadow: 0 1px 6px 3px hsla(0,0%,50%,.9);
  position: relative;
}

nav ul {
  position: relative;
}
nav ul a {
  display: block;
  
  cursor: pointer;
  border-radius: 6px;

  transition: .5s;
}
nav ul a {
  @apply px-2 py-1.5;
}

nav ul a:hover {
  @apply bg-white text-light-blue-600;
}

nav .dropdown {
  position: relative;
  bottom: 2px;
}

nav .dropdown ul {
  display: block;
  visibility: hidden;
  opacity: 0;
  height: 0;

  position: absolute;
  top: 51px;

  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

nav .dropdown ul a:first-child {
  border-top-right-radius: 5px;
}
nav .dropdown ul a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

nav .dropdown ul a {
  border-radius: 0;
  @apply bg-white text-light-blue-600;
}

nav .dropdown, nav .dropdown ul, nav .dropdown ul * {
  transition: .45s .1s;
}

nav .dropdown ul a {
  padding-right: 52px;
}

nav .dropdown > li {
  transition: .5s;
  transition-delay: .07s;
  cursor: pointer;

  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  
  @apply px-2 py-1.5;
}

nav .dropdown:hover > li {
  @apply bg-white text-light-blue-600;
}

nav .dropdown:hover ul {
  visibility: visible;
  opacity: 1;
  height: auto;
}

nav .dropdown ul a:hover {
  @apply bg-light-blue-700 text-white;
}

nav .dropdown > li span.symbol {
  transition: .5s ease-out;
}
nav .dropdown:hover > li span.symbol {
  transform: rotate(180deg);
}