table {
  font-size: 1.11rem;
  margin: auto;

  @apply bg-white border-dark-blue-500 drop-shadow-md;
}
table td, table th {
  padding: 8px 11px;
  border: 2px solid;
  text-align: center;

  @apply border-light-blue-700
}
table tbody {
  font-size: 1.06rem;
}

table tbody tr:nth-child(even) {
  @apply bg-light-blue-200;
}
table tbody tr:nth-child(odd) {
  @apply bg-dark-blue-300;
}
table thead tr {
  @apply bg-light-blue-500
}